/* ESTILOS IMAGEN DEMO */
.sign-container
{
    width: 280px;
    height: 186px;
    box-shadow: 5px 5px 5px #2a2a2a2a;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;/* varia */
    padding: 6px;
}
.sign-container>.sign-border
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}
.sign-container>.sign-border-2
{
    border: 2px solid #000000;
}
.sign-container>.sign-border-3
{
    border: 3px solid #000000;
}
.sign-container>.sign-border-4
{
    border: 4px solid #000000;
}
.sign-container>.sign-border>.sign-header
{
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
}
.sign-container>.sign-border>.sign-header-big
{
    height: 49%;
    margin-bottom: 1%;
}
.sign-container>.sign-border>.sign-header-medium
{
    height: 30%;
    margin-bottom: 9%;
}
.sign-container>.sign-border>.sign-header-small
{
    height: 20%;
    margin-bottom: 12%;
}
.sign-container>.sign-border>.sign-header .sign-text
{
    margin: auto;
    color: #ffffff;
}
.sign-container>.sign-border>.sign-header>.sign-oval
{
    padding: 3px;
    width: 100%;
    height: 85%;
    border-radius: 45%;
    background-color: #ff0000;
    margin: 1% 10px;
    border: 2px solid #ffffff;
    display: flex;
}
.sign-container>.sign-border>.sign-header>.sign-oval>.sign-text
{
    position: relative;
    margin: auto;
    top: -13px;
}
.sign-container>.sign-border>.sign-body
{
    width: 100%;
    height: 50%;
    position: relative;
}
.sign-container>.sign-border>.sign-body>.sign-img
{
    width: 34%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    position: absolute;
}
.sign-container>.sign-border>.sign-body>.sign-text-body
{
    width: 64%;
    height: 100%;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}
.sign-container>.sign-border>.sign-body>.sign_text_body_full
{
    width: 100%!important;
    word-wrap: break-word;
}
.sign-container>.sign-border>.sign-body.sign_body_h
{
    height: 100%!important;
}
.sign-container>.sign-border>.sign-body>.sign-text-body>.sign-text-content
{
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
/* ESTILO MENU PICTOGRAMAS */
.pictograms-card
{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: block;
}
.pictograms-card .card-body
{
    height: 76vh;
}
.pictograms-card .card-footer,.pictograms-card .card-header 
{
    height: 12vh;
}
/* PARA SWAL */
.swal-content ul 
{
    text-align: left;
}
/* para quotations */
.quotation-demo-color
{
    width: 20px;
    height: 20px;
    display: inline-block;
}
/* SOBRE ESCRIBIR TEMPLATE */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff!important;
    background-color: #e40613!important;
}
.hero__slider.owl-carousel .owl-nav button {
    left: 3%!important;
}
.hero__slider.owl-carousel .owl-nav button.owl-next {
    left: auto!important;
    right: 3%!important;
}
.project__slider__item {
    background-size: contain!important;
    background-color: #e8e8e8!important;
    background-repeat: no-repeat!important;
}