<template>
    <div class="d-inline">
        <a class="btn btn-danger" @click.prevent="checkQty" title="Agregar al carrito"><i class="fa fa-cart-plus"></i></a>
    </div>
</template>

<script>
    export default {
        /* PROPIEDADES */
        props: {
            slug   : {
                default:''
            }
        },
        /* DATA */
        data: function () {
            return { 
                qty : 0
            }
        },
        methods:{
            checkQty()
            {
                swal({
                    title:'indique la cantidad de letreros que desea',
                    content:{
                        element: "input",
                        attributes: {
                        placeholder: "Cantidad",
                        type: "number",
                        }
                    },
                    button:{
                        text: "Aceptar",
                        className: "btn btn-primary",
                    }
                })
                .then(qty => {
                    if (qty > 0) {
                        this.qty = qty
                        this.send()
                    }else{
                        this.qty = 0,
                        swal('Complete el campo','Ingrese un numero válido','warning')
                    }
                })
            },
            send(){
                /* VEO SI HAY CLIENTE */
                if (localStorage.email) {
                    let regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if(regex.test(localStorage.email)){
                        this.store()
                    }
                /* SI NO HAY CLIENTE EN LOCALSTORAGE */    
                }else{
                    swal({
                        title:'Ingrese un correo',
                        text:'Debe ingresar un correo para poder recibir la respuesta de su cotizacion.',
                        icon:'info',
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        content:{
                            element: "input",
                            attributes: {
                            placeholder: "Correo electronico",
                            type: "email",
                            }
                        },
                        button:{
                            text: "Aceptar",
                            className: "btn btn-primary",
                        }
                    })
                    .then((value) => {
                        let regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        if(regex.test(value)){
                            this.email = value
                            localStorage.email = value
                            this.store()
                        }else{
                            swal('Lo siento','Ingrese una direccion de correo valida','warning');
                        }
                    })
                }
            },
            store()
            {
                axios.post(window.location.origin+'/api/quotations/add/'+this.slug,{qty : this.qty, email:localStorage.email})
                .then(response =>{
                    swal({
                        title:'Agregado al carrito',
                        icon:'success',
                        text:'Este letrero se agrego al carrito con exito',
                    })
                })
                .catch(errors =>{
                    if (errors.response) {
                        if (errors.response.status == 422) {
                            let error_list = ''
                            let list_response = errors.response.data.errors
                            for (const key in list_response) {
                                if (Object.hasOwnProperty.call(list_response, key)) {
                                    list_response[key].forEach(item => {
                                        error_list += "<li>"+item+"</li>"
                                    })
                                }
                            }
                            const wrapper = document.createElement('ul');
                            wrapper.innerHTML = error_list;
                            swal({
                                title: "Lo siento",
                                content: wrapper, 
                                icon:'error',
                            });
                            console.log(error_list)
                        } else {
                            swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                        }
                    } else {
                        swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                    }
                })
                .then(response =>{
                    console.log(response)
                })
            }
        }
    }
</script>
