<template>
    <div class="row">
        <div class="col-12" v-if="email && quotation.signs.length > 0">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered bg-white shadow-sm">
                    <thead class="bg-danger text-light">
                        <tr>
                            <th>Pictograma</th>
                            <th>Opciones Generales</th>
                            <th>Encabezado</th>
                            <th>Texto letrero</th>
                            <th>Material y tamaño</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>   
                    <tbody>
                        <tr v-for="(sign,index) in quotation.signs" :key="index">
                            <td class="text-center">
                                <img width="50px" :src="showUrlImage(sign.pictogram)" v-if="sign.pictogram">
                                <small v-else>No tiene</small>
                            </td>
                            <td>
                                <small class="d-block"><span class="font-weight-bold">Norma:</span> {{sign.norm ? sign.norm : 'No tiene'}}</small>
                                <small class="d-block"><span class="font-weight-bold">Ribete:</span> {{sign.size ? 'Si' : 'No'}}</small>
                                <small class="d-block"><span class="font-weight-bold">Color Fondo:</span> 
                                    <div class="border border-dark quotation-demo-color" :style="'background-color:'+sign.color"></div> 
                                </small>
                            </td>
                            <td>
                                <small class="d-block"><span class="font-weight-bold">Titulo:</span> {{sign.title}}</small>
                                <small class="d-block"><span class="font-weight-bold">Sub Titulo:</span> {{sign.sub_title ? sign.sub_title : 'No tiene'}}</small>
                            </td>
                            <td>
                                <small class="d-block font-weight-bold">Texto letrero</small>
                                <small class="d-block">{{sign.text1}}</small>
                                <small class="d-block">{{sign.text2}}</small>
                                <small class="d-block">{{sign.text3}}</small>
                                <small class="d-block">{{sign.text4}}</small>
                            </td>
                            <td>
                                <small class="d-block"><span class="font-weight-bold">Material:</span> {{sign.material}}</small>
                                <small class="d-block"><span class="font-weight-bold">Medidas:</span> {{sign.height}} cm alto X {{sign.width}} cm ancho</small>
                                <small class="d-block"><span class="font-weight-bold">Tipo:</span> {{sign.type}}</small>
                            </td>
                            <td class="text-center">
                                <small>{{sign.pivot.qty}}</small>
                            </td>
                            <td class="text-center" width="110px">
                                <a :href="'../signs/'+sign.slug+'/edit'" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-edit"></i></a>
                                <button class="btn btn-sm btn-danger rounded-0" @click="showDemo(sign.picture)"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-sm btn-danger rounded-0" @click="itemDelete(sign.slug)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody> 
                </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-danger float-right rounded-0 shadow-sm" @click="finishQuotation">Enviar Cotizacion</button>
                </div>
            </div>
        </div>
        <div v-else class="col-12 text-center">
            <h4>No Tiene Cotizaciones</h4>
            <p class="text-muted">Para crear una cotizacion seleccione un item de nuestras categorias y cree su letrero personalizado</p>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            if(localStorage.email){
                this.email = localStorage.email
                this.checkData()
            }
        },
        /* DATA */
        data: function () {
            return { 
                email:'',
                quotation:{}
            }
        },
        /* PROPIEDADES COMUTADAS */
        computed: {
            
        },
        methods:{
            async checkData()
            {
                await axios.post(window.location.origin + '/api/quotations/client',{email:this.email})
                .then(response =>{
                    if (response.data) {
                        this.quotation = response.data
                    }else{
                        this.email = ''
                    }
                })
                .catch(errors =>{
                    swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                })
                .then(response =>{
                    console.log(response)
                })
            },
            showUrlImage(image){
                return window.location.origin+'/storage/'+image
            },
            itemDelete(item)
            {
                swal({
                    title:'¿Eliminar letrero?',
                    dangerMode:true,
                    icon:'warning',
                    buttons:['No','Si']
                })
                .then(value => {
                    if(value)
                    {
                        axios.delete(window.location.origin + '/api/quotations/remove/'+this.quotation.slug+'/'+item)
                        .then(response =>{
                            swal('Item removido','se elimino el item con exito','success')
                            this.checkData()
                        })
                        .catch(errors =>{
                            swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                        })
                        .then(response =>{
                            console.log(response)
                        })
                    }
                })

            },
            finishQuotation()
            {
                swal({
                    title:'¿Enviar cotizacion?',
                    text:'¿Esta seguro que quiere solicitar esta cotizacion?',
                    dangerMode:true,
                    icon:'warning',
                    buttons:['No','Si']
                })
                .then(value => {
                    if(value)
                    {
                        swal({
                            icon:'info',
                            title:'Enviando Cotizacion',
                            text:'Esperes mientras se envia el correo con la informacion',
                            closeOnClickOutside: false,
                            closeOnEsc: false,
                        })
                        axios.post(window.location.origin+'/api/quotations/'+this.quotation.slug+'/send')
                        .then(response =>{
                            swal({
                                title:'Cotizacion enviada',
                                icon:'success',
                                text:'Recibira su respuesta al correo que indico en el momento de la creacion de la cotizacion ('+localStorage.email+')',
                            })
                            this.checkData()
                        })
                        .catch(errors =>{
                            if (errors.response) {
                                if (errors.response.status == 422) {
                                    let error_list = ''
                                    let list_response = errors.response.data.errors
                                    for (const key in list_response) {
                                        if (Object.hasOwnProperty.call(list_response, key)) {
                                            list_response[key].forEach(item => {
                                                error_list += "<li>"+item+"</li>"
                                            })
                                        }
                                    }
                                    const wrapper = document.createElement('ul');
                                    wrapper.innerHTML = error_list;
                                    swal({
                                        title: "Lo siento",
                                        content: wrapper, 
                                        icon:'error',
                                    });
                                    console.log(error_list)
                                } else {
                                    swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                                }
                            } else {
                                swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                            }
                        })
                        .then(response =>{
                            console.log(response)
                        })
                    }
                })
                
            },
            showDemo(picture)
            {
                swal({
                    icon:window.location.origin + '/storage/' + picture,
                })
            }
        }
    }
</script>
