<template>
    <div class="row">
        <!-- DEMO LETRERO -->
        <div class="col-12 col-lg-4 my-4">
            <div class="sign-container mx-auto" :style="'background-color:'+sign.color " id="demo-sign-container-to-picture">
                <div class="sign-border" :class="'sign-border-'+sign.size" :style="'border-color:'+sign.color_line">
                    <template v-if="headerDisplay">
                        <div  class="sign-header sign-header-text-fill" :class="'sign-header-'+sign.header_size" :style="'background-color:'+sign.header_color">
                            <span class="sign-text text-uppercase" v-if="sign.header_type == 'normal'" :style='"color:"+sign.header_color_text'>
                                {{sign.title}}<br>
                                {{sign.sub_title}}
                            </span>
                            <div class="sign-oval" v-else-if="sign.header_type == 'oval'">
                                <span class="sign-text text-uppercase" style="width:100%;">
                                    {{sign.title}}<br>
                                    {{sign.sub_title}}
                                </span>
                            </div>
                        </div>
                    </template>
                    <div class="sign-body" :class="{sign_body_h : !headerDisplay}">
                        <div v-if="sign.pictogram" class="sign-img" :style='"background-image: url("+showUrlImage(sign.pictogram)+")"'>
                        </div>
                        <div class="sign-text-body sign-header-text-fill" :class="{sign_text_body_full : sign.pictogram == '' }">
                            <span class="sign-text-content mx-auto" :style='"color:"+sign.color_text'>
                                {{sign.text1}}
                                <br v-if="sign.text2">
                                {{sign.text2}}
                                <br v-if="sign.text3">
                                {{sign.text3}}
                                <br v-if="sign.text4">
                                {{sign.text4}}
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- TAB HEADER -->
        <div class="col-12 col-lg-8 my-4">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-dark active" id="generals-tab" data-toggle="pill" href="#generals" role="pill" aria-controls="generals" aria-selected="true">General</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-dark" id="header-inputs-tab" data-toggle="pill" href="#header-inputs" role="pill" aria-controls="header-inputs" aria-selected="false">Encabezado</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-dark" id="text-sign-tab" data-toggle="pill" href="#text-sign" role="pill" aria-controls="text-sign" aria-selected="false">Texto</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-dark" id="material-dimension-tab" data-toggle="pill" href="#material-dimension" role="pill" aria-controls="material-dimension" aria-selected="false">Material y dimensiones</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-dark" id="qty-comment-tab" data-toggle="pill" href="#qty-comment" role="pill" aria-controls="qty-comment" aria-selected="false">Finalizar</a>
                </li>
            </ul>
            <!-- TAB CONTENT -->
            <div class="tab-content" id="myTabContent">
                <!-- OPCIONES GENERALES -->
                <div class="tab-pane fade show active" id="generals" role="tabpanel" aria-labelledby="generals-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-1">
                                <label >Norma</label>
                                <select v-model="sign.norm" class="form-control">
                                    <option value="">Ninguna</option>
                                    <option :value="norm.slug" v-for="(norm,index) in norms" :key="index" class="text-capitalize">{{norm.name}}</option>
                                </select>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-6">
                                    <div class="form-group mb-1">
                                        <label >Ribete</label>
                                        <select v-model="sign.size" @change="setColorLine()" class="form-control text-capitalize">
                                            <option value="0">Sin ribete</option>
                                            <option value="4">Grueso</option>
                                            <option value="3">Mediano</option>
                                            <option value="2">Fino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-1">
                                        <label>Fondo</label>
                                        <select v-model="sign.color" @change="setColorLine()" class="form-control text-capitalize">
                                            <option v-for="(color,index) in colors" :key="index" :value="color.code">{{color.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label d-block">Pictograma</label>
                                <small v-if="sign.pictogram == ''">Ninguno</small>
                                <img v-else :src="showUrlImage(sign.pictogram)" width="50px" class="mx-3">
                                <button type="button" class="btn btn-outline-secondary btn-sm px-1" data-toggle="modal" data-target="#PictogramsModal"><small>Cambiar</small></button>
                                <button type="button" class="btn btn-outline-danger btn-sm px-1" v-if="sign.pictogram" @click="sign.pictogram = ''"><small>Quitar</small></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CABECERA -->
                <div class="tab-pane fade" id="header-inputs" role="tabpanel" aria-labelledby="header-inputs-tab">
                    <div class="card">
                        <div class="card-body">
                            <template v-if="checkNormHasHeaders.length">
                                <div class="form-check" v-for="(header,index) in checkNormHasHeaders" :key="index">
                                    <input class="form-check-input" name="radio-header" type="radio" @click="setHeaderDefault(header)" :id="'flexRadioDefault'+header.slug">
                                    <label class="form-check-label" :for="'flexRadioDefault'+header.slug">{{header.name}}</label>
                                </div>
                            </template>
                            <template v-else-if="sign.norm == ''">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-1">
                                            <label >Forma Encabezado</label>
                                            <select v-model="sign.header_type" class="form-control text-capitalize">
                                                <option value="">Ninguna</option>
                                                <option value="normal">Normal</option>
                                                <option value="oval">Ovalado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label >Color de texto de cabecera</label>
                                        <select v-model="sign.header_color_text" class="form-control text-capitalize">
                                            <option :value="color.code" v-for="(color,index) in colors" :key="index" class="text-capitalize">{{color.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-1">
                                            <label>Color</label>
                                            <select v-model="sign.header_color" class="form-control">
                                                <option :value="color.code" v-for="(color,index) in colors" :key="index" class="text-capitalize">{{color.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-1">
                                            <label>Tamaño</label>
                                            <select v-model="sign.header_size" class="form-control text-capitalize">
                                                <option value="big" >Grande</option>
                                                <option value="medium" >Mediana</option>
                                                <option value="small" >Pequeña</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-1">
                                    <label >Titulo</label>
                                    <input v-model="sign.title" class="form-control text-uppercase">
                                </div>
                                <div class="form-group mb-1">
                                    <label >Sub Titulo</label>
                                    <input v-model="sign.sub_title" class="form-control text-uppercase">
                                </div>
                            </template>
                            <p class="text-center border border-secondary p-2 rounded" v-else>Esta norma no tiene cabecera</p>
                        </div>
                    </div>
                </div>
                <!-- TEXTO LETRERO -->
                <div class="tab-pane fade" id="text-sign" role="tabpanel" aria-labelledby="text-sign-tab">
                    <div class="card">
                        <div class="card-body">
                            <label >Color del texto</label>
                            <select v-model="sign.color_text" class="form-control text-capitalize">
                                <option :value="color.code" v-for="(color,index) in colors" :key="index">{{color.name}}</option>
                            </select>
                            <input placeholder="Linea 1" v-model="sign.text1" class="form-control my-2 text-uppercase">
                            <input placeholder="Linea 2" v-model="sign.text2" class="form-control my-2 text-uppercase">
                            <input placeholder="Linea 3" v-model="sign.text3" class="form-control my-2 text-uppercase">
                            <input placeholder="Linea 4" v-model="sign.text4" class="form-control my-2 text-uppercase">
                        </div>
                    </div>
                </div>
                <!-- MATERIAL Y DIMENSIONES -->
                <div class="tab-pane fade" id="material-dimension" role="tabpanel" aria-labelledby="material-dimension-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-1">
                                <label >Material</label>
                                <select v-model="sign.material" class="form-control">
                                    <option :value="material.slug" v-for="(material,index) in materials" :key="index" class="text-capitalize">{{material.name}}</option>
                                </select>
                            </div>
                            <div class="form-group mb-1">
                                <label >Medidas <small>(Si seleccion la opcion personalizar , indicar la medida en los comentarios en la pestaña finalizar)7</small></label>
                                <select v-model="dimension" class="form-control" @change="setDimensions()">
                                    <option :value="dimension.slug"  v-for="(dimension,index) in dimensionsByMaterial" :key="index" class="text-capitalize">{{dimension.height}} cm de alto X {{dimension.width}} cm de ancho</option>
                                </select>
                            </div>
                            <div class="form-group mb-1">
                                <label >Tipo</label>
                                <select v-model="sign.type" class="form-control">
                                    <option :value="type.slug" v-for="(type,index) in types" :key="index" class="text-capitalize">{{type.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- QTY Y COMENTARIO -->
                <div class="tab-pane fade" id="qty-comment" role="tabpanel" aria-labelledby="qty-comment-tab">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group mb-1">
                                <label >Cantidad</label>
                                <input v-model="sign.qty" type="number" min="1" class="form-control mb-1" placeholder="Cantidad"></input>
                                <label >Comentario</label>
                                <textarea v-model="sign.comment"  rows="3" class="form-control mb-1" placeholder="Comentarios"></textarea>
                            </div>
                            <div class="form-group mb-1">
                                <button class="btn btn-danger btn-block" @click="send()">AGREGAR AL CARRITO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL -->
        <div class="modal fade" id="PictogramsModal" tabindex="-1" aria-labelledby="PictogramsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PictogramsModalLabel">Seleccione un Pictograma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div v-for="(pictogram,index) in pictograms" :key="index" class="col-4 col-md-4 col-lg-1 text-center">
                            <img :src="showUrlImage(pictogram.url)" width="100%" class="my-2">
                            <div class="form-check px-0">
                                <input class="mx-auto" v-model="sign.pictogram" :value="pictogram.url" @click="pictogram_miniature = pictogram.url" type="radio">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            if(localStorage.email)
            {
                this.sign.email = localStorage.email
            } 
            if (this.sign_prop)
            { 
                this.searchSignData()
            }
        },
        updated()
        {
            /* Inicializo los plugins */
            $('.sign-header-text-fill').textfill({
                minFontPixels:12,
                maxFontPixels:90
            });
        },
        /* PROPIEDADES */
        props: {
            colors   : {
                default:[]
            },    
            pictograms: {
                default:[]
            },   
            norms    : {
                default:[]
            },  
            types    : {
                default:[]
            },    
            materials: {
                default:[]
            },
            sign_prop:{
                default:''
            }
        },
        /* DATA */
        data: function () {
            return { 
                sign: {
                    color: '#ffffff',
                    color_line: '#000000',
                    color_text: '#000000',
                    size:0,
                    norm:'',
                    header_size:'big',
                    header_type:'',
                    header_color:'',
                    header_color_text:'#000000',
                    title:'',
                    sub_title:'',
                    pictogram:'',
                    text:'',
                    qty:'',
                    comment:'',
                    email:'',
                    width:'',
                    height:'',
                    text1:'',
                    text2:'',
                    text3:'',
                    text4:'',
                    material:''
                },
                dimension:{}
            }
        },
        /* PROPIEDADES COMUTADAS */
        computed: {
            checkNormHasHeaders: function () {
                let headers = []
                if (this.sign.norm != ""){
                    this.norms.forEach(norm => {
                        if (this.sign.norm == norm.slug) {
                            headers = norm.headers
                        }
                    })
                } 
                return headers
            },
            headerDisplay: function () {
                if(this.checkNormHasHeaders.length > 0)
                {
                    return true
                }
                else    if(this.sign.norm == '' && this.sign.header_type != '')
                {  
                    return true
                }
                return  false
            },
            dimensionsByMaterial: function () {
                let dimensions = []
                /* BUSCO LAS DIMENSIONES DE ESE MATERIAL */
                this.materials.forEach(material => {
                    if(material.slug == this.sign.material)
                    {
                        dimensions = material.dimensions;
                        return dimensions;
                    }
                })
                return dimensions;
            }
        },
        methods:{
            async searchSignData()
            {
                await axios.post(window.location.origin+'/api/signs/'+this.sign_prop+'/show')
                .then(response=>{
                    this.sign.slug = response.data.slug
                    this.sign.color = response.data.color
                    this.sign.color_text = response.data.color_text
                    this.sign.color_line = response.data.color_line
                    this.sign.size = response.data.size
                    this.sign.norm = response.data.norm
                    this.sign.title = response.data.title
                    this.sign.header_size = response.data.header_size
                    this.sign.header_type= response.data.header_type
                    this.sign.header_color_text = response.data.header_color_text
                    this.sign.header_color = response.data.header_color
                    this.sign.sub_title = response.data.sub_title
                    this.sign.pictogram = response.data.pictogram
                    this.sign.text = response.data.text
                    this.sign.qty = response.data.qty
                    this.sign.comment = response.data.comment
                    this.sign.width = response.data.width
                    this.sign.height = response.data.height
                    this.sign.text1 = response.data.text1
                    this.sign.text2 = response.data.text2
                    this.sign.text3 = response.data.text3
                    this.sign.text4 = response.data.text4
                    this.sign.material = response.data.material
                    this.sign.type = response.data.type

                    if (response.data.norm == null){this.sign.norm = ''}
                    this.dimension = response.data.width +'-'+ response.data.height
                })
                .catch(errors=>{
                    console.log(errors.response)
                    swal('Disculpe','No pudimos cargar la informacion de este letrero, refresque la pagina y si el problema persiste conmunicarse con soporte','error')
                })
            },
            showUrlImage(image){
                return window.location.origin+'/storage/'+image
            },
            setHeaderDefault(header)
            {
                this.sign.header_size= header.size
                this.sign.header_type= header.type
                this.sign.header_color= header.color
                this.sign.header_color_text= header.color_text
                this.sign.title= header.title
                this.sign.sub_title= header.sub_title
            },
            setDimensions()
            {
                this.sign.width = this.dimension.split("-")[0]
                this.sign.height = this.dimension.split("-")[1]
            },
            setColorLine()
            {
                for (const color in this.colors) {
                    if(this.colors[color].code == this.sign.color)
                    {
                        this.sign.color_line = this.colors[color].line_code
                    }
                }
            },
            send(){
                /* VEO SI HAY CLIENTE */
                if (localStorage.email) {
                    let regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if(regex.test(this.sign.email)){
                        this.captureImage()
                    }
                /* SI NO HAY CLIENTE EN LOCALSTORAGE */    
                }else{
                    swal({
                        title:'Ingrese un correo',
                        text:'Debe ingresar un correo para poder recibir la respuesta de su cotizacion.',
                        icon:'info',
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        content:{
                            element: "input",
                            attributes: {
                            placeholder: "Correo electronico",
                            type: "email",
                            }
                        },
                        button:{
                            text: "Aceptar",
                            className: "btn btn-primary",
                        }
                    })
                    .then((value) => {
                        let regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        if(regex.test(value)){
                            this.email = value
                            localStorage.email = value
                            this.captureImage()
                        }else{
                            swal('Lo siento','Ingrese una direccion de correo valida','warning');
                        }
                    })
                }
            },
            store()
            {
                axios.post(window.location.origin+'/api/signs/store',this.sign)
                .then(response =>{
                    swal({
                        title:'Anuncio guardado',
                        icon:'success',
                        text:'Redireccionando al carrito',
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        buttons:false
                    })
                    window.location=window.origin+'/quotations/'
                })
                .catch(errors =>{
                    if (errors.response) {
                        if (errors.response.status == 422) {
                            let error_list = ''
                            let list_response = errors.response.data.errors
                            for (const key in list_response) {
                                if (Object.hasOwnProperty.call(list_response, key)) {
                                    list_response[key].forEach(item => {
                                        error_list += "<li>"+item+"</li>"
                                    })
                                }
                            }
                            const wrapper = document.createElement('ul');
                            wrapper.innerHTML = error_list;
                            swal({
                                title: "Lo siento",
                                content: wrapper, 
                                icon:'error',
                            });
                            console.clear()
                        } else {
                            swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                        }
                    } else {
                        swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                    }
                })
                .then(response =>{
                    console.clear()
                })
            },
            update()
            {
                axios.put(window.location.origin+'/api/signs/'+this.sign.slug,this.sign)
                .then(response =>{
                    swal({
                        title:'Letrero actualizado',
                        icon:'success',
                        text:'Redireccionando al carrito',
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                        buttons:false
                    })
                    window.location=window.origin+'/quotations/'
                })
                .catch(errors =>{
                    if (errors.response) {
                        if (errors.response.status == 422) {
                            let error_list = ''
                            let list_response = errors.response.data.errors
                            for (const key in list_response) {
                                if (Object.hasOwnProperty.call(list_response, key)) {
                                    list_response[key].forEach(item => {
                                        error_list += "<li>"+item+"</li>"
                                    })
                                }
                            }
                            const wrapper = document.createElement('ul');
                            wrapper.innerHTML = error_list;
                            swal({
                                title: "Lo siento",
                                content: wrapper, 
                                icon:'error',
                            });
                            console.clear()
                        } else {
                            swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                        }
                    } else {
                        swal('No pudimos realizar esta accion', 'En ese momento no podemos procesar esta solicitud intentelo de nuevo y si el problema persiste contacte a soporte','error')
                    }
                })
                .then(response =>{
                    console.clear()
                })
            },
            async captureImage()
            {
                await html2canvas(document.querySelector("#demo-sign-container-to-picture"))
                .then(canvas => {
                    let imagenComoBase64 = canvas.toDataURL();
                    this.sign.picture = imagenComoBase64
                    swal('Espere','Procesando su solicitud',window.location.origin + "/img/recursos/loader.gif")
                    if (this.sign_prop) {
                        this.update()
                    }else{
                        this.store()
                    }
                })
            }
        }
    }
</script>
